+main-menu(1)

//- .parallax-wrapper
+waterBackground

a(href="#" id="menu-toggle").toggle-mnu
	span

+header('Садовский Иван', 'Личный сайт веб разработчика', '##icon-works_header', 'header-s-works')

section.s-works

	#next

	.main-content__work-block
		h2.h2 Мои работы
		svg.header__svg-bg.header__svg-bg-work
			use(xlink:href="#icon-works_header")

	.slider
		.slider__left
			.slider__display

				for work in works
					img.portfolio-preview(src=work.img alt=work.alt)

			.slider__info
				.portfolio-projects
					
					for work in works
						.project
							.project__inner
								.title
									p.title__name= work.name
								.skills
									p.title__description= work.description
								.slider__btn
									a.btn(href= work.link)
										<i class="fa fa-link"></i> Посмотреть сайт

		.slider__right
			.slider__controls

				.navigation-box.navigation-box__prev
					button(class="slider__controls-item slider__controls-item_prev")
					.portfolio-thumbnails
						for work in works
							.slider__thumbnail
								img(src=work.img, alt=work.alt)

				.navigation-box.navigation-box__next
					button(class="slider__controls-item slider__controls-item_next")
					.portfolio-thumbnails
						for work in works
							.slider__thumbnail
								img(src=work.img, alt=work.alt)


section.s-about.js-parallax.js-blur-bg#js-cover-target

	.works__container
		.works__leaf.works__leaf_1.js-leaf_1
		.works__leaf.works__leaf_2.js-leaf_2
		.works__leaf.works__leaf_3.js-leaf_3
		
		.main-content__work-block.about-title
			h2.h2 Что обо мне <br> говорят
			svg.header__svg-bg.header__svg-bg-work
				use(xlink:href="#icon-about_header")

		.works__reviews
			.reviews
				.reviews__list
					
					each data, id in reviews
						.reviews__item
							.review
								.review__img-wrapper
									img(src= data.img, alt= data.name).review__img
							.review__text= data.text
								svg.review__text-quote
									use(xlink:href="#icon-quote")
							.review__author
								span.review__author-name= data.name
								span.review__author-place= data.place

		.works__feedback
			svg(version='1.1', xmlns='http://www.w3.org/2000/svg', style='display: none')
				filter#blur
					fegaussianblur(stddeviation='6')
			.works__feedback-blur.js-blur
			.feedback
				span.title_feedback.feedback_header
					| Связаться со мной
				form.feedback__form
					input(type='text' name='name' placeholder='Имя' required='').feedback__input-text
					input(type='email' name='email' placeholder='Email' required='').feedback__input-text
					textarea(type='text' name='message' placeholder='Ваше сообщение' required='').feedback__textarea
					input(type='submit' value='Отправить' placeholder='Email').feedback__button.feedback__button_submit
					input(type='reset' value='Очистить' placeholder='Email').feedback__button.feedback__button_reset
