//- Fullscreen Menu widget
mixin main-menu(active)
	- var pages = {"Мои работы":"./works.html", "Блог":"./blog.html", "Обо мне":"./about.html", "Авторизация":"/"}
	nav.main-menu
		ul.main-menu__content
			- var i = 1
			each p_url, p_title in pages
				li.main-menu__item
					a(class="preload-link main-menu__link" + ((i++ == active) ? " active":""), href=p_url)=p_title

//- Parallax
mixin parallax(type)
	- var p_type = type || "axis"
	.parallax-wrapper
		ul#scene(class=p_type)
			- for (var n = 0; n < 5; n++)
				li.layer(data-depth=(0.1*n))
					div(class = "layer-bg layer-bg_" + n)

//- Water BG
mixin waterBackground
	.Background
		canvas.Background-canvas


//- For Blogs
mixin blogPost(articles)
	each article in articles
		li.articles__item
			.article__heading=article.heading
			time.article__date=article.date
			article.article
				each par in article.paragraphes
					p.article__text=par

mixin list(className, items)
	ul(class=`${className}__list`)
		each item in items
			li(class=`${className}__item`)=item

mixin list-img(className, items)
	ul(class=`${className}__list`)
		each item, index in items
			li(class=`${className}__item` + ((index === 0) ? ` ${className}__itemActive` : ''))
				img(src="/assets/img/"+item+".png" alt=)

mixin list-link(className, items)
	ul(class=`${className}__list`)
		each item in items
			li(class=`${className}__item`)
				a(class=`${className}__link` href=item.link)=item.name

mixin list-div(className, items)
	ul(class=`${className}__list`)
		each item, index in items
			li(class=`${className}__item`+ ((index === 0) ? ` ${className}__itemActive` : ''))
				div(class=`${className}__txt`)=item


				