//- Fullscreen Menu widget
mixin main-menu(active)
	nav.main-menu
		ul.main-menu__content
			- var i = 1
			each link, title in menu
				li.main-menu__item
					a(class="preload-link main-menu__link" + ((i++ == active) ? " active":""), href= link)= title

//- Parallax
mixin parallax(type)
	- var p_type = type || "axis"
	.parallax-wrapper
		ul#scene(class=p_type)
			- for (var n = 0; n < 5; n++)
				li.layer(data-depth=(0.1*n))
					div(class = "layer-bg layer-bg_" + n)

//- Water BG
mixin waterBackground
	.Background
		canvas.Background-canvas

//- Header
mixin header(title, text, bgText, mod)
	
	header.header.table-box.js-header(class= mod)
		.header__top-row
			ul.header-line-social-list
				each link, item in social
					li: a(target="_blank" href=link)
						i(class= item)

		.table-box__row
			.table-box__vertical-aligned
				.main-content-author-block.js-header__author
					.main-content-author-block__img
						img(src="/assets/img/developer.png", alt="Developer")
					.main-content-author-block__name
						p.block__main-title= title
					.main-content-author-block__descr
						p= text
				svg.header__svg-bg.js-header__text
					use(xlink:href="#{bgText}")
				.main-content-arrow-block
					a.header__arrow-link.js-scrollto(href='#next')
						i.fa.fa-chevron-down
				svg.header__svg-corner.header__svg-corner_left(preserveAspectRatio="none" viewBox="0 0 1000 400")
					use(xlink:href="#icon-about_bg_left")
				svg.header__svg-corner.header__svg-corner_right(preserveAspectRatio="none" viewBox="0 0 1000 400")
					use(xlink:href="#icon-about_bg_right")









